<app-main-header></app-main-header>
<div class="container col-lg-6">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">
      <h1>{{message}}</h1>
      <h1>{{temp}}</h1>
      <form class="form-group">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group">
          <label for="number">phoneNo:</label>
          <input type="number" class="form-control" id="phoneNo" [(ngModel)]="phoneNo" placeholder="Enter User Name"
            name="phoneNo">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
            name="password">
        </div>
        <button (click)="checkLogin()" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>