<div class="header" id="home1">
  <div class="container">
    <div  *ngIf="!isLogin" class="w3l_login">
      <a href="/register"  (click)="openDialog()" ata-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
    <div  *ngIf="isLogin" class="w3l_login">
       <p>Welcome User, <span class="username">{{message}}</span> </p>
    </div>
    <div class="w3l_logo">
      <h1><a href="/">Wish Store<span>Your stores. Your place.</span></a></h1>
    </div>
    <div class="search">
      <input class="search_box" type="checkbox" id="search_box">
      <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
      <div class="search_form">
        <form action="#" method="post">
          <input type="text" name="Search" placeholder="Search...">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
    <div class="cart cart box_1 checkout-count-wrap"> 
      <form action="#" method="post" class="last">        
        <button class="w3view-cart" type="submit" (click)="openCheckoutModel()" name="submit" value="">
          <p class="total_count_checkout">{{cart_qty}}</p>
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>      
        </button>
      </form>   
    </div>  
  </div>
</div>


<!-- navigation -->
<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li><a href="#" class="act">Home</a></li>	
          <!-- Mega Menu -->
          <li class="dropdown" [ngClass]="[currentDropDownMenu == 'products' ? 'open' : '']">
            <a href="javascript:void(0)" (click)="curentDropDown('products')" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Mobiles</h6>
                    <li><a href="products.html">Mobile Phones</a></li>
                    <li><a href="products.html">Mp3 Players <span>New</span></a></li> 
                    <li><a href="products.html">Popular Models</a></li>
                    <li><a href="products.html">All Tablets<span>New</span></a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Accessories</h6>
                    <li><a href="products1.html">Laptop</a></li>
                    <li><a href="products1.html">Desktop</a></li>
                    <li><a href="products1.html">Wearables <span>New</span></a></li>
                    <li><a href="products1.html"><i>Summer Store</i></a></li>
                  </ul>
                </div>
                <div class="col-sm-2">
                  <ul class="multi-column-dropdown">
                    <h6>Home</h6>
                    <li><a href="products2.html">Tv</a></li>
                    <li><a href="products2.html">Camera</a></li>
                    <li><a href="products2.html">AC</a></li>
                    <li><a href="products2.html">Grinders</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="w3ls_products_pos">
                    <h4>30%<i>Off/-</i></h4>
                    <img  src="assets/images/1.jpg" alt=" " class="img-responsive" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="about.html">About Us</a></li> 
          <li class="w3pages" [ngClass]="[currentDropDownMenu == 'pages' ? 'open' : '']">
            <a (click)="curentDropDown('pages')"  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="icons.html">Web Icons</a></li>
              <li><a href="codes.html">Short Codes</a></li>     
            </ul>
          </li>  
          <li><a href="/register">Register</a></li>
          <!-- <h1>{{sess}}</h1> -->
          <li><a href="/customerDashboard">Customer Dashboard</a></li>
          <li><a href="/customerLogin">Login</a></li>
          <li *ngIf="isLogin"  (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<div  [ngClass]="[mainDialogType == 'checkout' ? 'checkout_dialog' : '']" id="w3lssbmincart">
  <form method="post" class="" target="">   
  <button type="button" (click)="closeDialog()" class="sbmincart-closer">×</button>  
          <ul>        
            <li *ngFor="let cartObjItem of  cartObj" class="sbmincart-item sbmincart-item-changed">       
                     <div class="sbmincart-details-name">             
                    <a class="sbmincart-name">{{cartObjItem.productName}}</a>      
                      <ul class="sbmincart-attributes">                                                            
                     </ul>     
                 </div>         
                 <div class="sbmincart-details-quantity"> 
                       <input class="sbmincart-quantity" data-sbmincart-idx="0" name="quantity_1" type="text" value="1" autocomplete="off">       
                 </div>         
                 <div class="sbmincart-details-remove">          
                     <button type="button" class="sbmincart-remove" data-sbmincart-idx="0">×</button>     
                 </div>        
                 <div class="sbmincart-details-price">           
                   <span class="sbmincart-price">{{cartObjItem.price}}</span>       
                 </div>     
         </li>   
          																									
       </ul>  
       <div class="sbmincart-footer">       
         <div class="sbmincart-subtotal">  
         Subtotal: {{cartTotalPrice}}   																				
       </div>       
       <span (click)="checkout_btn()">Checkout Cart</span>
        </div>  
      <input type="hidden" name="bn" value="sbmincart_AddToCart_WPS_US">   
    </form></div>